@inherits System.Web.Mvc.WebViewPage

@using System.Web.Mvc.Html
@using System.Web.Optimization
<html>
<head>
    <title>Payments</title>

    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/duty.css")

</head>
<body>
<table id="paymentTable" class="paymentTable" borderthickness="1" border="1" align="center"></table>


<script>
    function createPaymentTable(paymentData) {
        let peopleCount = paymentData.length;
        let table = document.getElementById("paymentTable");
        table.innerHTML = "";

        //делаем столбцы одинаковой ширины
        for (let rowNumber = 0; rowNumber <= 2; rowNumber++) {
            let col = document.createElement('col');
            col.style = 'width:33%';
            table.appendChild(col);
        }

        //рисуем макет таблицы
        for (let rowNumber = 0; rowNumber <= peopleCount; rowNumber++) {
            let row = table.insertRow(rowNumber);
            if (rowNumber == 0) {
                row.classList.add("darkTableHead");
                row.insertCell();
                row.insertCell().innerText = "Количество";
                row.insertCell().innerText = "Оплата";
                continue;
                //добавить заголовки
            }
            if (rowNumber % 2 != 0) row.classList.add("darkTableLine");

            for (let colomnNumber = 0; colomnNumber <= 2; colomnNumber++) {
                let cell = row.insertCell(colomnNumber);
                if (colomnNumber == 0) {
                    cell.innerText = paymentData[rowNumber - 1].User.Name;
                }
                if (colomnNumber == 1) {
                    cell.innerText = paymentData[rowNumber - 1].Count;
                }
                if (colomnNumber == 2) {
                    cell.innerText = paymentData[rowNumber - 1].Count*700;
                }
            }
        }
    }

</script>
</body>
</html>