@if (Request.IsAuthenticated)
{
    if (User.Identity.Name != null)
     {
         <a class="nav-text">Здравствуйте, @User.Identity.Name!</a>
    }
    else
    {
        <a class="nav-text">Здравствуйте</a>
    }

    @Html.ActionLink("Выйти", "SignOut", "Account")
}
else
{
    <a class="nav-text">@Html.ActionLink("Sign in", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</a>
}
